@model IEnumerable<Svr.Core.Entities.Instance>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTransfer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourtDecision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCourtDecision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateInCourtDecision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SumDenied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SumSatisfied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidVoluntarily)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DutySatisfied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DutyDenied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicesSatisfied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicesDenied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.СostSatisfied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.СostDenied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DutyPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateToShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsurancePartPFRShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FundedPartPFRShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFOMSShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TFOMSShortage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateToFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsurancePartPFRFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FundedPartPFRFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FFOMSFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TFOMSFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSPenalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateToPenalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SumPenalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOnUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedOnUtc)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Claim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTransfer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtDecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCourtDecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInCourtDecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumDenied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumSatisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidVoluntarily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutySatisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyDenied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesSatisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesDenied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СostSatisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СostDenied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateToShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurancePartPFRShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundedPartPFRShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FFOMSShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TFOMSShortage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateToFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurancePartPFRFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundedPartPFRFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FFOMSFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TFOMSFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSPenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateToPenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumPenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claim.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
