@model Svr.Web.Models.GroupClaimsViewModels.IndexViewModel

@{
    ViewData["Title"] = "Список групп исков";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p>
    <a asp-action="Create" asp-controller="GroupClaims" class="btn btn-default">Добавить</a>
</p>

@Html.Partial("List", Model)



@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOnUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedOnUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDispute)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDispute.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
