@model Svr.Web.Models.RegionsViewModels.RegionIndexViewModel

@{
    ViewData["Title"] = "Список регионов";
}
@*<h1>@tatusMessage</h1>*@
<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p>
    <a asp-action="Create" asp-controller="Regions" class="btn btn-default">Добавить</a>
</p>
@Html.Partial("List", Model)


@*<p>
        <a asp-action="Create">Добавить</a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOnUtc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedOnUtc)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@